/** Default CSS **/
a:focus {
  outline: 0 solid;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iframe {
  vertical-align: middle;
  width: 100%;
}

input {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 100%;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

a:focus {
  text-decoration: none;
}

a:active {
  outline: 0 none;
}

button {
  border: none;
}

.btn:focus {
  box-shadow: none;
}

button:hover {
  outline: none;
  cursor: pointer;
}

select:active,
button:active {
  outline: none;
}

select:focus,
button:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

p {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.form-group label {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
}

.form-group .submit-btn {
  background-image: none;
  background-color: #fb4f1b;
  border: none;
  color: #ffffff;
  font-size: 17px;
  padding: 15px 25px;
  text-transform: capitalize;
  transition: .4s;
  min-width: 165px;
}

.form-group .submit-btn:hover {
  background-color: #000000 !important;
}

.form-group .form-control {
  height: 43px;
  box-shadow: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid #dddddd;
  color: #808080;
  font-size: 14px;
}

.form-group .form-control:focus {
  outline: none;
  border: 2px solid #615e5e;
}

.form-group textarea {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #dddddd;
  resize: none;
}

.section {
  position: relative;
  overflow: hidden;
}

.dropdown-menu {
  border-radius: 0;
}

.slick-slide:focus {
  outline: none;
}

.navbar-toggler {
  background-color: #ffffff00;
}

/** Default CSS **/

@media (min-width: 1200px) {
  .container {
    max-width: 1680px;
    /* padding: 0 80px; */
    padding: 0 170px;
  }
}


/* ----- header-area-start ------- */
#menu-area {
  position: relative;
  z-index: 999;
}
#menu-area .navigation-wrap {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 20px 20px 10px 20px !important;
}
#menu-area .navbar {
  padding: 0 15px;
  flex: 1;
  background-color: #FFFFFF;
}
#menu-area .navbar .nav {
  flex: 1;
}
#menu-area .navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}
#menu-area .navbar-toggler:active,
#menu-area .navbar-toggler:focus {
  outline: none;
}
#menu-area .navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #000000;
  transition: all 300ms linear;
}
#menu-area .navbar-light .navbar-toggler-icon:after,
#menu-area .navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000000;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}
#menu-area .navbar-light .navbar-toggler-icon:after {
  top: 8px;
}
#menu-area .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}
#menu-area .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}
#menu-area .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}
#menu-area .nav-link {
  color: #000000;
  font-weight: 400;
  transition: all 200ms linear;
  font-size: 15px;
  position: relative;
  padding: 5px;
  display: inline-block;
  text-transform: capitalize;
}
#menu-area .nav-link span i{
  margin-left: 6px;
}
/*#menu-area .nav-item:hover .nav-link {*/
/*    color: #ffffff;*/
/*    background-color: #2e7f9e;*/
/*}*/
/*#menu-area .nav-item.active .nav-link {*/
/*    color: #ffffff;*/
/*    background-color: #2e7f9e;*/
/*}*/
#menu-area .nav-item {
  position: relative;
  transition: all 200ms linear;
}
#menu-area .nav-item.megamenu {
  position: static;
}
#menu-area .nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}
#menu-area .nav-item.show > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0, 0);
}
#menu-area .nav-item a i.fa {
  font-size: 12px;
}
#menu-area .nav-item.show a i.fa {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
#menu-area .dropdown-menu {
  /* padding: 10px 15px !important; */
  margin: 0;
  letter-spacing: 0;
  color: #212121;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
  border-radius: 3px;
  border-bottom: 3px solid #ff5956;
}
#menu-area .dropdown-toggle::after {
  display: none;
}
#menu-area .dropdown-item {
  padding: 6px;
  color: #636363;
  border-radius: 0 !important;
  transition: all 200ms linear;
  font-weight: 400;
  font-size: .875rem;
  text-transform: capitalize;
  border-bottom: 1px solid #c3c3c37d;
}
#menu-area .dropdown-item:hover,
#menu-area .dropdown-item:focus {
  color: #db231f;
  background-color: #ff59560d;
}
#menu-area .dropdown-header {
  padding: 15px 0;
  font-weight: 700;
  color: #000000;
  font-size: .825rem;
}
#menu-area .mega-menu-content {
  flex: 1;
}
#menu-area .navbar-light .navbar-toggler {
  padding-left: 0;
}
#menu-area .navbar-brand {
  /* padding: 6px; */
  display: flex;
  align-items: center;
}
#menu-area .navbar-brand img {
  width: 122px;
}
#menu-area .navbar-brand ul li {
  font-size: .875rem;
  color: #120d75;
}
#menu-area .navbar-brand ul li.title {
  font-family: 'Adamina', serif;
  font-size: 1.75rem;
  color: #333333;
}
#menu-area .start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #FFFFFF;
}
#menu-area .start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: fixed;
  background-color: #2d6071;
  padding: 17px 0 !important;
  width: 100%;;
}
#menu-area .start-header.scroll-on .navbar-brand img {
  /* height: 45px; */
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#menu-area .start-header.scroll-on .nav-link {
  padding: 10px 8px !important;
  margin-top: 15px;
}
#menu-area .start-header.scroll-on .nav-link.link {
  padding: 8px 15px !important;
}
#menu-area .start-header.scroll-on .navbar-brand {
  padding: 5px 0;
}
#menu-area .start-header.scroll-on .nav-link .badge {
  top: 0;
}
#menu-area .start-header.scroll-on .navbar-brand ul li {
  font-size: .675rem;
  color: #120d75;
}
#menu-area .start-header.scroll-on .navbar-brand ul li.title {
  font-size: 1.25rem;
  color: #333333;
}
#menu-area .dropdown-submenu {
  position: relative;
}
#menu-area .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
#menu-area .dropdown-submenu .dropdown-menu .dropdown-menu {
  top: 0;
  left: auto;
  right: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
#menu-area .dropdown-submenu .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
}
#menu-area .navbar-brand .logo-circle-area{
  background-color: #e6e6e6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
#menu-area .navbar-brand h3{
  margin: 0;
  font-size: 28px;
  font-weight: 500;
}
#menu-area .navbar ul.right-area li .form-group .form-control{
  width: 204px;
  height: 44px;
  color: #7f7f7f;
  border-radius: 6px;
  border: 2px solid #e6e6e6;
  font-size: 14px;
  padding: 0 38px 0 8px;
  transition: all 0.7s ease;
}
#menu-area .navbar ul.right-area li .form-group .form-control:focus{
  outline: none;
  border: 2px solid #615e5e;
}
#menu-area .navbar ul.right-area li .form-group .search-btn{
  width: 50px;
  height: 50px;
  padding: 0;
  border: 0;
  position: absolute;
  top: 12%;
  right: -4px;
  border-radius: 7px;
  cursor: pointer;
}
#menu-area .navbar ul.right-area li .form-group .search-btn img{
  width: 20px;
  height: 20px;
  object-fit: contain;
}
#menu-area .navbar .navbar-collapse{
  align-items: baseline;
}
#menu-area .navbar ul.navbar-nav.gap-sec{
  margin-right: 40px;
}

/* ----- header-area-end ------- */


/* ----- breadcrumb-area-start ------- */
.breadcrumb-area{
  width: 100%;
  background-color: #666666;
  padding: 60px 0;
}
.breadcrumb-wrap-area{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.breadcrumb-wrap-area .left-area{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #9f9f9f;
  margin-right: 40px;
}
.breadcrumb-wrap-area .middle-area h3{
  color: #fff;
  text-transform: capitalize;
  font-size: 24px;
  margin-bottom: 12px;
  font-weight: 500;
}
.breadcrumb-wrap-area .middle-area span{
  background-color: #9f9f9f;
  border-radius: 2px;
  padding: 2px 4px 2px 4px;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 12px;
}
.breadcrumb-wrap-area .middle-area p{
  margin: 12px 0 0 0;
  color: #fff;
  font-size: 16px;
}
.breadcrumb-wrap-area .left-group{
  display: flex;
    align-items: center;
}
.breadcrumb-wrap-area .right-area ul li a.btn-transparent{
  margin-bottom: 12px;
}


/* ----- breadcrumb-area-end ------- */

/* ----- button-area-start ------- */
.btn-transparent{
  background-color: #666666;
  padding: 11px 20px 11px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #fff;
}
.btn-transparent:hover{
  background-color: #666666;
  color: #fff;
  border: 2px solid #fff;
}

.btn-black{
  background-color: #000;
  padding: 12px 20px 12px 20px;
  font-size: 16px;
  border-radius: 8px;
}
.btn-black:hover{
  background-color: #000;
  color: #fff;
  border: none;
}
/* ----- button-area-end ------- */

/* ----- campaign-overview-area-start ------- */
.campaign-overview{
  position: relative;
}
.heading-center{
  padding: 60px 0;
}
.heading-center h3{
  color: #000;
  text-transform: capitalize;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 40px;
}
.heading-center p{
  color: #000;
  font-size: 16px;
  margin-bottom: 24px;
}
.heading-center .button-area .btn-black{
  width: 240px;
  margin: 0 auto;
}
.field-area{
  padding-bottom: 20px;
}
.field-inner{
  border: 2px solid #e6e6e6;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 40px;
}
.field-inner h4{
  color: #7f7f7f;
  text-transform: capitalize;
  font-size: 16px;
}
.field-inner p{
  font-size: 28px;
  margin: 0;
  font-weight: bold;
}
.field-area .row .col-lg-6.first{
  padding: 0 3px 0 15px;
}
.bar-chart{
  padding: 20px;
  border: 2px solid #e6e6e6;
  border-radius: 6px;
  margin-bottom: 60px;
}
.bar-chart h3{
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 12px;
}
.bar-chart p{
  color: #7f7f7f;
  font-size: 15px;
}

.bar-chart .canvas-wrapper div{
  height: 398px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.bar-chart .canvas-wrapper div canvas{
  max-width: 1200px;
}
.bar-chart p.right-side{
  color: #808080;
  font-size: 16px;
}
.notifications-area{
  position: relative;
  padding: 60px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.bell-wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 19px;
}
.bell-icon{
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.bell-wrap.first{
  margin-bottom: 20px;
}
.bell-icon img{
  width: 31px;
}
.bell-middle h3{
  font-size: 17px;
  text-transform: capitalize;
  margin-bottom: 2px;
  font-weight: 500;
}
.bell-middle p{
  color: #808080;
  font-size: 15px;
  margin: 0;
}
.bell-left-group{
  display: flex;
  align-items: center;
}
.bell-wrap .bell-right h4{
  font-size: 17px;
    font-weight: 600;
    margin: 0;
}
.noti-left h3{
  font-size: 29px;
  margin: 0;
  font-weight: 600;
}
.notifications-area .row .col-lg-6.noti{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.update-slider{
  width: 659px;
  margin: 0 auto;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
}
.friends-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 12px;
}
.friends-wrap .cirle-box{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #e5e5e5;
}
.friends-middle h3{
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 500;
}
.friends-middle p{
  color: #808080;
  font-size: 12px;
  margin: 0;
}
.friends-left-group{
  display: flex;
  align-items: center;
}
.friends-right svg{
  width: 19px;
  height: 19px;
  cursor: pointer;
}



/* ----- latest-update-swiper-slider-area-start ------- */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 300px;
  text-align: center;
  font-size: 14px;
  background: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet-active{
  background: #fff;
  width: 20px;
  border-radius: 6px;
  height: 5px;
}

/* ----- latest-update-swiper-slider-area-end ------- */

.exciting-area{
  padding: 13px;
}
.exciting-area h3{
  font-size: 16px;
  margin-bottom: 9px;
  font-weight: 500;
}
.exciting-area span{
  background-color: #ebebeb;
  border: 2px solid #d3d3d3;
  font-size: 12px;
  border-radius: 2px;
  padding: 2px 3px;
  font-weight: 400;
}
.latest-update{
  padding-bottom: 60px;
  border-bottom: 1px solid #e5e5e5;
}
.edit-profile{
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 60px;
}
.edit-form-area .form-group .form-control{
  width: 515px;
}
.edit-form-area .form-group.bottom-gap{
  margin-bottom: 40px;
}
.edit-form-area .button-area{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.edit-form-area .button-area .btn-black{
  width: 240px;
}
.bottom-slider{
  padding: 60px 0;
  border-bottom: 1px solid #e5e5e5;
}
.swiper-slide.bottom{
  height: 292px;
  border-radius: 6px;
}
.footer-bottom{
  padding: 60px;
}
.footer-bottom p{
  font-size: 15px;
  margin: 0;
  text-align: center;
}


/* ----- campaign-overview-area-end ------- */

/* -----scroll-to-top-area-start------- */
#scroll-top .scrollTop {
  position: fixed;
  right: 3%;
  bottom: 18px;
  background: #808080;
  transition: all 0.4s ease-in-out;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 8px 13px rgba(0, 0, 0, 0.35);
  animation: border-transform 10s linear infinite alternate forwards;
}

@keyframes border-transform {

  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

#scroll-top .scrollTop:hover {
  background-color: #535252;
}

#scroll-top .scrollTop span a {
  color: #ffffff;
}

#scroll-top .scrollTop span a i {
  position: absolute;
  top: 17px;
  left: 19px;
  font-size: 15px;
}

/* ----- scroll-to-top-area-end ------- */


/* ----- breadcrumb-campaign-creation-area-start ------- */
.breadcrumb-campaign-creation{
  text-align: center;
}
.breadcrumb-campaign-creation h3{
  color: #fff;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 40px;
}
.breadcrumb-campaign-creation p{
  color: #fff;
  font-size: 16px;
  margin: 0;
}

/* ----- breadcrumb-campaign-creation-area-end ------- */


/* ----- campaign-creation-area-start ------- */
.campaign-creation{
  position: relative;
}
.campaign-creation-border{
  border-bottom: 1px solid #e5e5e5;
}
.campaign-creation-main-area{
  padding: 60px 0;
}
.text-muted{
  /* font-size: 12px; */
}
.campaign-creation-form .form-group.bottom-gap {
  margin-bottom: 40px;
}
.campaign-creation-form{
  margin-bottom: 40px;
}
.category-area{
  position: relative;
  margin-bottom: 40px;
}
.category-area h4{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.category-area ul{
  display: flex;
}
.category-area ul li{
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.7s ease;
}
.category-area ul li:hover{
  background-color: #808080;
  color: #fff;
}
.category-area span{
  color: #808080;
  font-size: 13px;
}
.campaign-creation-main-area .right-button-area ul{
  display: flex;
}
.campaign-creation-main-area .right-button-area ul li .btn-transparent{
  width: 240px;
  font-size: 15px;
  margin-right: 12px;
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
  box-shadow: none;
}
.campaign-creation-main-area .right-button-area ul li .btn-black{
  width: 240px;
  font-size: 15px;
}
.campaign-creation-main-area .campaign-creation-left h3{
  font-size: 29px;
  margin-bottom: 24px;
  font-weight: 600;
}
.campaign-creation-main-area .campaign-creation-left p{
  font-size: 16px;
  margin: 0;
}
.campaign-creation-main-area .row .col-lg-6.left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-bottom ul{
  display: flex;
  justify-content: center;
}
.footer-bottom ul li{
  margin-right: 60px;
}
.footer-bottom ul li a{
  font-size: 15px;
  color: #000;
}
.footer-bottom ul li span.point{
  font-size: 15px;
  color: #000;
}

/* ----- campaign-creation-area-end ------- */


/* ----- campaign-participation-breadcrumb-area-start ------- */
ul.parti-wrap{
  display: flex;
}
ul.parti-wrap li span{
  margin-right: 6px;
}

/* ----- campaign-participation-breadcrumb-area-end ------- */


/* ----- events-breadcrumb-area-start ------- */
.breadcrumb-campaign-creation h3.events{
  line-height: 52px;
}
.search-events{
  margin: 24px 0;
}
.search-events .form-control{
  width: 368px;
  margin: 0 auto;
  height: 42px;
  box-shadow: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid #dddddd;
  color: #808080;
  font-size: 14px;
  transition: all 0.7s ease;
}
.events-button ul{
  display: flex;
  justify-content: center;
}
.events-button ul li .btn-transparent{
  width: 240px;
  font-size: 15px;
  margin-right: 12px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  box-shadow: none;
  padding: 11px 20px 9px 20px;
}
.events-button ul li .btn-black{
  width: 240px;
  font-size: 15px;
}

/* ----- events-breadcrumb-area-end ------- */

/* ----- header-sticky-area-start ------- */
#menu-area.sticky {
  position: fixed;
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  background-color: #ffffff;
  /* border-bottom: 2px solid #615e5e; */
  z-index: 99;
}
/* ----- header-sticky-area-end ------- */


/* ----- admin-dashboard-area-start ------- */
#menu-area.bottom-border{
  box-shadow: -1px 0rem 1rem 0px #0000001a;
}
.admin-dashboard-top{
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  padding: 60px 0;
}
.admin-dashboard-center{
  text-align: center;
}
.admin-dashboard-center h3{
  color: #000000;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
}
.admin-dashboard-center p{
  color: #000000;
  font-size: 16px;
  margin: 0;
}
.admin-button-wrap{
  margin: 24px 0;
}
.admin-button-wrap ul{
  display: flex;
  justify-content: center;
}
.admin-button-wrap ul li .btn-transparent {
  width: 240px;
  font-size: 15px;
  margin-right: 12px;
  border: 2px solid #000000;
  background-color: transparent;
  color: #000000;
  box-shadow: none;
  padding: 11px 20px 9px 20px;
}
.admin-button-wrap ul li .btn-black {
  width: 240px;
  font-size: 15px;
  display: block;
}
.three-admin-top-wrap ul{
  display: flex;
  justify-content: center;
}
.three-admin-top-wrap ul li{
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.7s ease;
  width: 144px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.three-admin-top-wrap ul li:hover{
  background-color: #808080;
  color: #fff;
}
.field-area .row .col-lg-4.admin-dash-side-gap{
  padding-right: 0; 
}
.field-inner span{
  font-size: 15px;
  margin-top: 11px;
  display: block;
  font-weight: 400;
}
.user-management-area{
  position: relative;
  padding: 60px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.user-management-area .heading-center{
  padding: 0 0 72px 0;
}
.user-management-area .heading-center h3{
  margin-bottom: 0;
}
.wrap-three{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wrap-three .wrap-info{
  width: 340px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap-bg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.wrap-bg img.admin-user{
  width: 58px;
}
.wrap-info .wrap-content h3{
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 500;
}
.wrap-info .wrap-content p{
  color: #7f7f7f;
  margin: 0;
  font-size: 14px;
}
.wrap-three .wrap-info .wrap-content{
  text-align: center;
}
.user-management-area.campaign-management{
  border-top: none;
}

/* ----- admin-dashboard-area-end ------- */